<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a2028991-9e0e-452b-80d0-3be1fdd43176/resourceGroups/streak-app/providers/Microsoft.Web/sites/StreakPlatformApi20260507160554</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://streakplatformapi20260507160554-fmgmbecjh6c6g9ae.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>11111111-1111-1111-1111-111111111111</ProjectGuid>
    <PublishUrl>https://streakplatformapi20260507160554-fmgmbecjh6c6g9ae.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$StreakPlatformApi20260507160554</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>